<h3>Login</h3>

@using (Html.BeginForm(AccountController.LoginAction, AccountController.Name, FormMethod.Post, new { @class = "form-horizontal" }))
{   
    <div class="control-group">
        @Html.Label("Enail", new { @class = "control-label" })

        <div class="controls">
            @Html.TextBox("Email", null, new { placeholder = "Email" })
        </div>
    </div>
            
    <div class="control-group">
        @Html.Label("Password", new { @class = "control-label" })
        <div class="controls">
            @Html.Password("Password", null, new { placeholder = "Password" })
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" name="RememberMe" /> Remember Me
            </label>
                    
            <button type="submit" class="btn">Login</button>
        </div>
    </div>
}