@using WebBaseBootstrap.Views
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Boilerpate MVC</a>
                
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                </ul>
                
                @{ Html.RenderPartial(ViewNames.UserbarPartial); }
            </div>
        </div>
    </div>
</div>