@if (!HttpContext.Current.User.Identity.IsAuthenticated)
{
    <div>
        <ul class="nav pull-right">
            <li>
                <a href="javascript:// Login" id="login" rel="popover">Login</a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a href="javascript:// Register">Register</a>
            </li>
        </ul>
    </div>
}
else
{
    <div>
        <ul class="nav pull-right">
            <li class="dropdown">
                <a href="javascript:// @HttpContext.Current.User.Identity.Name">
                    @HttpContext.Current.User.Identity.Name
                </a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                @Html.ActionLink("Logout", AccountController.LogoutAction, AccountController.Name)
            </li>
        </ul>
    </div>
}