<?xml version="1.0"?>
<appSettings>
  <add key="northwindConnectionString" value="Data Source=|DataDirectory|Northwind.sl3;Version=3;" />
  <add key="boilerplaceSqliteConnectionString" value="Data Source=|DataDirectory|BoilerplateMVC.sl3;Version=3;" />
  <add key="boilerplacePgConnectionString" value="Server=localhost;Port=5432;Database=BoilerplateMVC;User Id=BoilerplateMVC;Password=BoilerplateMVC;" />
</appSettings>