@{
    ViewBag.Title = "Index";
}

<div class="hero-unit">
    <h1>Welcome to Boilerplate MVC!</h1>
    <p>
        Skip the boring setup and boilerplate code and start writing your business
        logic right away!
    </p>
</div>

<div class="row-fluid">
    <div class="span6">
        <h2>Supported Frameworks:</h2>
        <ul>
            <li>ASP.NET MVC 4</li>
            <li>NHibernate 3.3.1</li>
            <li>Fluent NHibernate</li>
            <li>StructureMap 2.6</li>
            <li>Cassette Bundler</li>
            <li>Twitter Bootstrap 2.2</li>
            <li>dotLess</li>
            <li>ASP.NET Authentication</li>
        </ul>
    </div>
    <div class="span6">
        <h2>Coming Soon:</h2>
        <ul>
            <li>Unit Tests</li>
            <li>Fluent Validation</li>
            <li>jQuery</li>
            <li>jQuery Validation</li>
        </ul>
    </div>
</div>
