@{
    Bundles.Reference("/Assets/bootstrap/bootstrap.less");
    Bundles.Reference("/Assets/bootstrap/responsive.less");
    Bundles.Reference("/Assets/less");
    
    Bundles.Reference("/Assets/js/jquery-1.8.3.js");
    Bundles.Reference("/Assets/js/bootstrap.js");
    Bundles.Reference("/Assets/js/main.js");
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boilerplate MVC</title>
    @Bundles.RenderStylesheets()
</head>
    <body>
        @{ Html.RenderPartial(ViewNames.NavbarPartial); }
        <div class="container">
            @RenderBody()
        </div>
        <div class="scripts">
            @Bundles.RenderScripts()
        </div>
        
        
    </body>
</html>
